####################################################################
## BED MESH CONFIGURATION
####################################################################

[bed_mesh]
#   The speed (in mm/s) of non-probing moves during the calibration.
speed: 250

#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
horizontal_move_z: 7

#   Defines the minimum x,y coordinate of the mesh for rectangular
#   beds. This coordinate is relative to the probe's location. This
#   will be the first point probed, nearest to the origin. This
#   parameter must be provided for rectangular beds.
mesh_min:
    10, 10 

#   Defines the maximum x,y coordinate of the mesh for rectangular
#   beds. Adheres to the same principle as mesh_min, however this will
#   be the furthest point probed from the bed's origin. This parameter
#   must be provided for rectangular beds.
mesh_max:
    148, 148

probe_count:
    4,4

zero_reference_position: 79,79

